@media(max-width: 400px) {
    body{
        background-color: cadetblue;
    }
    h1{
        text-align: center;
    }
    .tophead {
        background-color: lightblue;
        background-image: linear-gradient(to bottom right, skyblue, blue);
        color: aliceblue;
        border: 1px solid black;
        border-radius: 10px;
    }
    nav{
        background-color: aliceblue;
        margin: 10px 40px;
        border: 1px solid black;
        border-radius: 10px;
    }
    a {
        color:black;
    }
    .card {
        margin: 0 auto;
        float: none;
}

}

/* ----------------------------------------------------------------------------------------------------------------------------- */

@media(max-width: 720px) {
    body{
        background-color: cadetblue;
    }
    h1{
        text-align: center;
    }
    .tophead {
        background-color: lightblue;
        background-image: linear-gradient(to bottom right, skyblue, blue);
        color: aliceblue;
        border: 1px solid black;
        border-radius: 10px;
    }
    nav{
        background-color: aliceblue;
        margin: 10px 40px;
        border: 1px solid black;
        border-radius: 10px;
    }
    a {
        color:black;
    }
    .card {
        margin: 0 auto;
        float: none;
    }
}

/* ------------------------------------------------------------------------------------------- */

@media(max-width: 1320px) {
    body{
        background-color: cadetblue;
    }
    h1{
        text-align: center;
    }
    .tophead {
        background-color: lightblue;
        background-image: linear-gradient(to bottom right, skyblue, blue);
        color: aliceblue;
        border: 1px solid black;
        border-radius: 10px;
    }
    nav{
        background-color: aliceblue;
        margin: 10px 40px;
        border: 1px solid black;
        border-radius: 10px;
    }
    a {
        color:black;
    }
    .card {
        margin: 0 auto;
        float: none;
    }
}

/* ----------------------------------------------------------------------- */

@media(min-width: 1320px) {
    body{
        background-color: cadetblue;
    }
    h1{
        text-align: center;
    }
    .tophead {
        background-color: lightblue;
        background-image: linear-gradient(to bottom right, skyblue, blue);
        color: aliceblue;
        border: 1px solid black;
        border-radius: 10px;
    }
    nav{
        background-color: aliceblue;
        margin: 10px 40px;
        border: 1px solid black;
        border-radius: 10px;
    }
    a {
        color:black;
    }
    .card {
        margin: 0 auto;
        float: none;
    }
}